$charcoal_black:  #36454F; // headers, footers, and important buttons like 'Add to Cart'.
$soft_orange: #FFA500; //  special offers, sales banners, and call-to-action buttons.
$crisp_white: #FFFFFF; //  background spaces
$light_grey: #D3D3D3; // borders and shadows
$subtle_green: #90EE90; // success messages
$soft_red: #f84b00