@import "./variables";

.header-top-strip {
  border-bottom: 1px solid var(--color-3b4149);
  background-color: $soft_orange;
  p {
    font-size: 0.75rem;
  }
}

.header-bottom {
  background-color: $charcoal_black;
  .menu-nav {
    a {
      padding: 0 0.5rem;
      color: white;
      font-size: 13px;
      line-height: 18px;
      font-weight: 400;
      letter-spacing: 0.3;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        color: $soft_orange;
      }
    }
  }
  .menu-logo {
    display: flex;
    justify-content: center;
    h3 {
      font-weight: 400;
    }
  }

  .header-links {
    display: flex;
    justify-content: end;
    a {
      display: flex;
      align-items: center;
      color: $crisp_white;
      margin: 0 0.5rem;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        color: $soft_orange;
      }

      p {
        font-size: 0.75rem;
        margin-right: 0.5rem;
      }
    }
  }
}
