@import "./variables";

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  .card {
    text-decoration: none;
    color: #000;
    border: none;
    .card-body {
      text-align: center;
      padding: 0.5rem;
      .card-title {
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: 0;
      }
      .card-text {
        color: $soft_red;
        font-weight: 300;
      }
    }
  }
  .add-cart-btn {
    width: 100%;
    .btn {
      width: 100%;
      text-transform: uppercase;
      border-radius: 0;
      &:hover {
        background-color: $charcoal_black;
        color: $crisp_white;
      }
    }
    .btn-outline-primary {
      border-color: $charcoal_black;
      color: #000;
    }
  }
}
